body {
    overflow: scroll;
}

a.purchase-gift-card-link {
  color: #e8e8e8;
  font-family: sans-serif;
  font-size: 14pt;
  cursor: pointer;
  font-weight: bold;
}

.space-below {
  margin-bottom: 40px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.panel, .panel-deafult, .panel-default>.panel-heading {
    background: 0 0;
    border-color: transparent;
    box-shadow: none;
}

.panel-title {
    font-size: inherit;
}
.panel-title>a {
    color: #263363;
}
.panel-title>a:active, .panel-title>a:focus, .panel-title>a:hover {
    color: #6c0c0c;
}
.panel-title>a:active, .panel-title>a:focus {
    text-decoration: none;
    font-style: italic;
}
.form-control:focus {
    border-color: #263363;
}
.btn-default {
    color: #d3dbf7;
    background-color: #263363;
    border-color: #222e59;
}
.btn-default:active, .btn-default:hover {
    background-color: #6c0c0c;
    border-color: #610b0b;
    color: #d3dbf7;
}
@media only screen and (min-width:992px) {
  .main-nav {
    padding: 0;
    margin-bottom: 2rem;
    border-bottom: #e0e4e7 1px solid;
    display: block;
  }
}

@media only screen and (max-width:900px) {
  .main-nav {
    padding: 0;
  }
  .main-header {
    position: static;
    height: 100%
  }
}

@media screen and (min-width:768px) {
}

@media only screen and (max-width:500px) {
  .main-header {
    position: static;
    min-height: 100%;
    width: 100%
  }
}


.main-header {
    padding: 0;
}

.main-crawl {
  color: #f9f6eb!important;
  font-family: Merriweather, Georgia, serif;
  font-size: 20pt;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 20px;
}

.page-title {
  color: #f9f6eb!important;
  font-family: Merriweather, Georgia, serif;
  font-size: 28pt;
  letter-spacing: 3px;
}
.page-description {
  color: #f9f6eb!important;
  text-shadow:  2px 2px 0px #000;
  font-family: Merriweather, Georgia, serif;
  font-size: 18pt;
  letter-spacing: 1px;
  font-style: italic;
}

.alt-border {
    border-right-style:  double;
    border-right-width:  7px;
    border-right-color:  #D3D3D3;
    padding-right:  10px;
}
.main-nav {
    padding: 35px 40px;
    margin: 0 0 30px;
}
.main-nav.overlay a {
    color: #fdf9f0;
}
.main-nav.overlay a:hover {
    color: #070b26;
    border-color: #fdf9f0;
    background: #fdf9f0;
    transition: all .1s ease;
}

@media screen and (max-width:500px) {
  .site-footer {
    margin-top: 0;
  }
}

.buy-tickets-button {
  color: #FCFAE2;
  background-color: #4F5496;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.4em 1.4em;
  text-decoration: none;
/*
  -webkit-transition: .5s all ease-out;
  -moz-transition: .5s all ease-out;
  transition: .5s all ease-out;
*/
}

.buy-tickets-button:hover {
  color: #FCFAE2;
  background-color: #363966;
  text-decoration: none;
}


#top-menu-container {
  display: block;
  position: fixed;
  margin: 0;
  color: #FCFAE2;
  background-color: #323133;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  /*text-align: center;*/
  z-index: 5;
  padding: 0;
  padding-top: 6px;
  padding-left: 15px;
}

#top-menu-container a {
  text-decoration: none;
  color: #FCFAE2;
}

#top-menu-container .menu-banner {
  position: fixed;
}

.menu-banner.small {
  line-height: 14px;
  margin-top: 3px;
}

.menu-banner.small .title {
  font-size: 10pt;
}

.menu-banner.small .city {
  font-size: 8pt;
}

.menu-banner.large .title {
  font-size: 15pt;
  margin-right: 10px;
  letter-spacing: normal;
}

.menu-banner.large .city {
  font-size: 14pt;
}

#top-menu-container .menu-banner .title {
  font-family: Merriweather, Georgia, serif;
  font-weight: 400;
}

#top-menu-container .menu-banner .city {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
}

#top-menu {
  display: inline;
  float: right;
  margin: 0;
  padding-left: 0;
  padding-right: 1em;
  z-index: 10;
}
#top-menu li {
    list-style-type: none;
    display: inline;
    font-family: Merriweather, Georgia, serif;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 10pt;
    padding: 0 0.66em;
}
#top-menu a {
    color: #FCFAE2;
    text-decoration: none;
    border-top: 3px rgba(240, 232, 206, .9);
    /*font-size: 18px!important;*/
    transition: none;
/*
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
*/
}

#top-menu a.link:hover {
  text-decoration: underline !important;
}

#top-menu a.link:active {
  color: #AB8326;
}

nav ol, nav ul {
    list-style: none;
}

.main-header .inner {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 550px;
}

.main-nav.overlay {
    border-color: #fdf9f0;
}

@media only screen and (min-width:960px) {
  #mobile-hamburger {
    display: none;
  }
  #top-menu {
    display: inline;
  }
  .menu-banner.small {
    display: none;
  }
  .menu-banner.large {
    display: inline;
  }
}

@media only screen and (max-width:959px) {
  #mobile-hamburger {
    display: block;
  }
  #top-menu {
    opacity: 0;
    top: -229px;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #19181A;
    margin: 0;
    padding: 0 9px;
    text-align: center;
    z-index: 3;
  }
  #top-menu.open {
    opacity: 1.0;
    top: 42px;
  }
  #top-menu li {
    display: block;
    list-style-type: square;
    background-color: #424143;
    margin: 4px 0;
    padding: 0;
    font-size: 14pt;
  }
  #top-menu li a {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
  .menu-banner.small {
    display: inline;
  }
  .menu-banner.large {
    display: none;
  }
}

@media only screen and (max-width:900px) {
  .main-nav {
    padding: 15px;
  }
}

@media only screen and (max-width:500px) {
  .main-nav.overlay .back-button, .main-nav.overlay {
    border-color: transparent;
  }
  .main-nav {
      padding: 0;
      margin-bottom: 2rem;
  }
  .main-nav a {
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      background: 0 0;
  }
  .main-nav.overlay a:hover {
      color: #fdf9f0;
      border-color: transparent;
      background: 0 0;
      transition: none;
  }
}

section {
    background: #d3dbf7;
    color: #070b26;
}
section.alt-color {
    background: #fdf9f0;
    color: #63696f;
}
section.alt-color h2 {
    color: #63696f;
}
.escape-overlay {
    background: url(../img/overlay.png) repeat-x;
    min-height: 100%;
    width: 100%
}

.parallax-container {
    max-width: 960px;
    margin: 0 auto;
}
section.module:last-child {
    margin-bottom: 0;
}
section.module.parallax {
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.module.parallax h1 {
    color: #fdf9f0;
    font-family: "Droid Sans", sans-serif;
    font-size: 3em;
    letter-spacing: 0;
    line-height: 300px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-indent: 0;
}

@media screen and (max-width:500px) {
  section.module.parallax {
      height: 300px;
      background-attachment: inherit;
  }
  section.module.parallax h1 {
      line-height: 300px;
      font-size: 2.6rem;
  }
  section.module.parallax-chambers {
      background-image: url(../img/parallax-mansion-front-small.jpg);
  }
  section.module.parallax-tips {
      background-image: url(../img/parallax-heavens-small.jpg);
  }
  section.module.parallax-faqs {
      background-image: url(../img/parallax-cats-small.jpg);
  }
  section.module.parallax-location {
      background-image: url(../img/parallax-river-small.jpg);
  }
  section.module.parallax-sign-up {
      background-image: url(../img/parallax-mansion-side-small.jpg);
  }
}

.mc-header-form, .mc-section-form {
    padding-top: 0;
}
.mc-container {
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5rem;
}
.mc-container:after, .mc-container:before {
    content: '';
    display: table;
}
.mc-container:after {
    clear: both;
}
.escape-social-media {
    padding-top: 0;
}
.escape-social-media a i {
    float: right;
    padding: 6px;
}
.escape-social-media a:hover {
    color: #6c0c0c;
}
body {
    margin-top: 42px;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, p {
    line-height: 1.7;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
a {
    color: #263363;
}

.btn-lg {
    color: #d3dbf7;
    background-color: #263363;
    border-color: #222e59;
    font-weight:  500;
    font-size:  18px;
}
.btn-lg:active, .btn-lg:hover {
    background-color: #6c0c0c;
    border-color: #610b0b;
    color: #d3dbf7;
}
section.module.parallax-images {
    background-image: url(../img/parallax-images-logos-small.jpg);
}
section.module.parallax-quotes {
    background-image: url(../img/parallax-quotes-small.jpg);
}
section.module.parallax-press-releases {
    background-image: url(../img/parallax-press-releases-small.jpg);
}
section.module.parallax-social-media {
    background-image: url(../img/parallax-social-media-small.jpg);
}

ol.thumb-grid li {
  float: left;
  width:  150px;
  height:  200px;
  margin:  20px 20px 20px 10px;
  list-style-type:  none;
}

ol.thumb-grid li img  {
  width:  100%;
  margin-bottom:  5px;
}

.caption-press  {
  line-height:  1.2;
  font-size:  70%;
  margin-bottom:  5px;
}

a {
  text-decoration:  underline;
}

a.no-underline {
  text-decoration:  none;
}

#social-media-links .links a {
  padding:  6px;
}

#social-media-links .links  {
  margin-bottom:  40px;
}

footer.footer  {
  background-color:  #070b26;
  color:  #d3dbf7;
  font-family:  "Open Sans", sans-serif;
  font-size: 0.8em;
  line-height: 1.75em;
}

footer.footer a {
  color:  #bbc7cc;
  font-weight:  700;
}

h2, h3, h4 {
  font-weight: bold;
}

#mobile-hamburger {
  position: fixed;
  top: 9px;
  right: 9px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

#mobile-hamburger span {
  position: absolute;
  display: block;
  left: 0%;
  height: 5px;
  width: 100%;
  background-color: #FCFAE2;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#mobile-hamburger span:nth-child(1){
  top: 0;
}

#mobile-hamburger span:nth-child(2){
  top: 10px;
}

#mobile-hamburger span:nth-child(3){
  top: 20px;
}

#mobile-hamburger span:nth-child(4){
  top: 10px;
}

#mobile-hamburger span:nth-child(5){
  top: 10px;
}

#mobile-hamburger.open span:nth-child(1){
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}

#mobile-hamburger.open span:nth-child(2){
  opacity: 0;
  left: 50%;
  width: 0;
}

#mobile-hamburger.open span:nth-child(3){
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}

#mobile-hamburger.open span:nth-child(4){
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#mobile-hamburger.open span:nth-child(5){
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.affix-top, .affix-bottom {
  position: absolute;
}

/* october rework */
  
/*
section.module.parallax-chambers {
    background-image: url(../img/parallax-mansion-front.jpg);
}
section.module.parallax-tips {
    background-image: url(../img/parallax-heavens.jpg);
}
section.module.parallax-faqs {
    background-image: url(../img/parallax-cats.jpg);
}
section.module.parallax-location {
    background-image: url(../img/parallax-river.jpg);
}
section.module.parallax-sign-up {
}
*/

#how-it-works {
  text-align: center;
  background-color: #FFFCE4;
  padding: 20px 80px;
}

#how-it-works .blurb {
  padding: 10px 20px;
  background-color: #C3CAE1;
  margin-bottom: 40px;
  font-size: 12pt;
  font-weight: 100;
  line-height: 2.0;
  text-align: left;
}

#how-it-works .arrow-up {
  position: relative;
  margin: 0;
  width: 0;
  height: 0;
  left: 50%;
  border-bottom: 22px solid #C3CAE1;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  margin-left: -22px;
}

#how-it-works h2 {
  font-size: 32pt;
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
}

#how-it-works table img {
}

#how-it-works .tip {
  font-size: 14pt;
  font-style: italic;
}

#how-it-works .nav-button {
  margin: 0;
  margin-bottom: 10px;
}

.nav-button {
  text-align: center;
}

.nav-button a {
  text-decoration: none;
  background-color: white;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #2F2F30;
  border: 1px solid #2F2F30;
  padding: 8px 40px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

#how-it-works .heading {
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  margin-bottom: 10px;
}

#how-it-works .icon {
  margin-bottom: 30px;
}

#how-it-works .step {
  width: 50%;
  float: left;
  padding: 15px;
}

#how-it-works .clear {
  clear: both;
}

@media screen and (max-width:768px) {
  #how-it-works {
    padding: 20px 10px;
  }

  #how-it-works h2 {
    font-size: 24pt;
  }

  #how-it-works .step {
    width: 100%;
    padding: 0;
  }

  #how-it-works .icon {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1600px) {
  #how-it-works .step {
    width: 20%;
  }

  #how-it-works .clear {
    clear: none;
  }
}

#rooms {
  background-image: url(../img/mansion-2.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
/*  background-color: black;*/
  background-color: #404040;
  background-blend-mode: overlay;
  padding: 40px 20px 105px 20px;
  color: #404040;
}

@media screen and (max-width:1000px) {
  #rooms {
    background-size: auto;
  }
}

#rooms h2 {
  font-size: 32pt;
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
  margin: 0;
  color: #404040;
  text-align: left;
}

#rooms p {
  line-height: 2.0;
  margin-bottom: 1em;
}

#rooms .copy {
  width: 50%;
  background-color: #D9DAE8;
  opacity: 0.9;
  padding: 20px 40px;
  margin: auto;
}

@media screen and (max-width:768px) {
  #rooms .copy {
    width: 100%;
    margin: auto;
  }
}

.clear-both {
  clear: both;
}

.container-room {
  background-color: #D8DAE9;
  padding: 20px 40px;
  padding-left: 80px;
}

.container-room .clamp {
  max-width: 1100px;
  margin: auto;
}

.container-room .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-bottom: -12px;
}

.container-room .room-duration-icon {
  background: url("../img/room-duration-icon.svg");
  background-size: 32px 32px;
}

.container-room .price-per-person-icon {
  background: url("../img/price-per-person-icon.svg");
  background-size: 32px 32px;
  background-size: 38px 38px;
  background-position: -2px -3px;
}

.container-room .exit-percentage-icon {
  background: url("../img/exit-percentage-icon.svg");
  background-size: 60px 50px;
  background-position: -7px -7px;
  margin-right: 5px;
}

.container-room .group-size-icon {
  background: url("../img/group-size-icon.svg");
  background-size: 60px 57px;
  background-position: -16px -12px;
}

.container-room h3 {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: #2F2F30;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 22pt;
}

.container-room .stats {
  float: left;
  font-family: Roboto;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  margin-right: 20px;
  width: 200px;
}

.container-room .review-quote {
  font-size: 12pt;
}

.container-room .review-quote a {
  font-weight: bold;
}

.container-room .review-quote .quote-text {
  font-style: italic;
  margin-bottom: 0;
  line-height: 20pt;
}

.container-room .review-quote .quote-text .jumbo {
  font-size: 18pt;
}

.container-room .review-quote .attribution {
  margin-left: 250px;
}

.container-room .picture {
  float: right;
  margin-left: 60px;
  margin-bottom: 20px;
}

.container-room img {
  width: 300px;
}

.container-room .blurb {
  font-family: Roboto, sans;
  font-weight: 300;
}

.container-room .buy-tickets {
  background-color: #4D5895;
  color: #FFFCE4;
  padding: 6px 17px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-size: 14pt;
}

.container-room .buy-tickets:hover {
  background-color: #363966;
}

.container-room .extra-button {
  display: none;
}

@media screen and (max-width:768px) {
  .container-room {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container-room ul.stats {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .container-room ul.stats li {
    white-space: nowrap;
    display: inline;
  }

  .container-room .review-quote .attribution {
    margin-left: 50px;
  }

  .container-room .picture {
    float: none;
    margin-left: 0;
  }

  .container-room img {
    width: 100%;
  }

  .container-room .extra-button {
    display: block;
  }

  .container-room .normal-button {
    display: none;
  }
}

#jazz-parlor {
  background-color: #FFFCE9;
}


#tickets {
  background-color: #FFFCE4;
  padding-top: 30px;
}

#tickets h2 {
  font-size: 32pt;
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
}

#tickets .copy {
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  padding: 0 40px;
}

#tickets .widget {
  padding: 0 40px;
}

#location {
  background-image: url(../img/mansion-1.jpg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 270px;
  padding-bottom: 180px;
/*  background-color: black;*/
  background-color: #404040;
  background-blend-mode: overlay;
}

@media screen and (max-width:1000px) {
  #location {
    background-size: auto;
  }
}

#location .map {
  float: left;
  margin: 0 25px;
}

#location .copy {
  width: 45%;
  float: left;
  background-color: #D9DAE8;
  opacity: 0.9;
  padding: 20px;
  margin: 0 25px;
}

#location .copy p {
  line-height: 2.0;
  margin-bottom: 1em;
}

#location .copy h2 {
  text-align: left;
  font-size: 32pt;
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
}

#newsletter {
  background-color: #FFFCE4;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

#newsletter h2 {
  font-size: 32pt;
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
}

#newsletter p {
  font-size: 14pt;
  font-family: Merriweather, Georgia, serif;
  font-style: italic;
}

#newsletter form {
  width: 50%;
  margin: auto;
}

#newsletter .override-bootstrap-font-size-12 {
  font-size: 12pt !important;
}

#newsletter .override-bootstrap-font-size-18 {
  font-size: 14pt !important;
}

#newsletter .force-bootstrap-corners {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter .ad-hoc-space-below {
  margin-bottom: 30px;
}

#newsletter .email {
}

#newsletter .form-button {
  color: #FFFCE4;
  background-color: #4D5895;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;

  height: 34px;
  line-height: 35px;
  padding: 0px 20px;
}

#newsletter .form-button:hover {
  background-color: #363966;
}

#newsletter .show-on-mobile {
  display: none;
}

@media screen and (max-width:768px) {
  #newsletter .hide-on-mobile {
    display: none;
  }

  #newsletter .undo-bootstrap-corners-on-mobile {
    border-radius: 2px;
  }

  #newsletter .undo-bootstrap-table-on-mobile {
    display: block;
  }

  #newsletter .show-on-mobile {
    display: block;
  }
}

#newsletter a {
  color: #4D5895;
  padding: 0 5px;
}

#newsletter a:hover {
  color: #363966;
}

#newsletter .links {
  margin-top: 20px;
}

#footer {
  background-color: #262951;
  color: #FFFCE4;
  font-size: 12pt;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  padding: 30px 70px;
}

#footer p {
  margin: 0;
}

#footer a {
  text-decoration: none;
  color: #FFFCE4;
}


.old-style-popup .modal-content {
  background-color: #cac8b6;
  color: #353535;
}

.old-style-popup .modal-header {
  border-bottom-color: #a4a989;
  min-height: 46px;
}

.old-style-popup .modal-body {
  overflow-y: scroll;
  padding: 20px 32px;
}

.old-style-popup h4 {
  font-size: 18pt;
  text-align: center;
  line-height: normal;
  margin: 0;
}

.old-style-popup blockquote {
  border-color: #503535;
}

.old-style-popup ul {
/*  list-style: none;*/
  padding: 0;
}

.old-style-popup h5 {
  font-size: 16pt;
  font-weight: bold;
}

.old-style-popup .modal-footer {
  border-top-color: #a4a989;
}

.old-style-popup .modal-footer button {
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  color: #353535;
  background-color: #988a71;
}

.contact-form {
  font-family:sans-serif;
}

.contact-form label {
  display: block;
  line-height: normal;
  margin-bottom: 2px;
}

.contact-form textarea {
  width: 100%;
  margin-left: 0px;
  padding-left: 8px;
  border-color: #8b945b;
  border-style: inset;
}

.contact-form .field {
  margin-bottom:10px;
}

.contact-form input {
  width:100%;
  padding-left: 8px;
  border-color: #8b945b;
  border-width: 1px;
  border-style: inset;
}

.contact-form input[type="submit"] {
  background-color: #e6e8de;
  border-color: #b6bf86;
  border-style: outset;
}

.contact-form input[type="submit"]:active {
  background-color: #b0a68d;
  border-style: inset;
  border-color: #818472
}


#how-it-works { position: relative; }
#how-it-works-nav {
  position: absolute;
  top: -40px;
}

#rooms { position: relative; }
#rooms-nav {
  position: absolute;
  top: -40px;
}

#tickets { position: relative; }
#tickets-nav {
  position: absolute;
  top: -40px;
}

#location { position: relative; }
#location-nav {
  position: absolute;
  top: 200px;
}

#newsletter { position: relative; }
#newsletter-nav {
  position: absolute;
  top: -40px;
}


p#privacy-policy {
  margin-top: 20px;
}

#privacy-policy a {
  text-decoration: underline;
  font-size: smaller;
  text-transform: lowercase;
  color: #bcba56;
}


.room-comparison-section {
  background-color: #D8DAE9;
  font-family: Roboto, sans-serif;
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.room-comparison-section h3 {
  color: #404040;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.room-comparison-section p.blurb {
  font-weight: 300;
}

.room-comparison-section .squeeze {
  max-width: 900px;
  margin: auto;
}

.room-comparison-section .listing {
  width: 430px;
  text-align: center;
}

.room-comparison-section .listing .header {
  background-color: #656ca0;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  font-size: 16pt;
}

.room-comparison-section .listing ul {
  padding: 0;
  margin: 0;
  display: table;
}

.room-comparison-section .listing li {
  height: 80px;
  list-style-type: none;
  margin: 0;
  display: table-row;
  background-color: #bac0de;
  font-size: 12pt;
}

.room-comparison-section .listing li span {
  border-top: 1px solid #848ab7;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 20px;
}

.room-comparison-section .listing li span.last {
  border-radius: 0 0 10px 10px;
}

.room-comparison-section .listing.left {
  float: left;
}

.room-comparison-section .listing.right {
  float: right;
}

@media screen and (max-width:1000px) {
  .room-comparison-section .listing.left {
    float: none;
  }

  .room-comparison-section .listing.right {
    float: none;
  }

  .room-comparison-section .listing {
    width: auto;
    margin-bottom: 20px;
  }

  .room-comparison-section .listing ul {
    width: 100%;
  }

  .room-comparison-section .listing li {
    font-size: 14pt;
  }

  .room-comparison-section .listing li span {
    padding: 20px;
  }
  .
}
