body {
  overflow: scroll;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: black;
  line-height: normal;
}

a {
  color: #263363;
  text-decoration: underline;
}

a.purchase-gift-card-link {
  color: #e8e8e8;
  font-family: sans-serif;
  font-size: 14pt;
  cursor: pointer;
  font-weight: bold;
}

#title-section {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url('../img/cover-waiting-room.jpg');
  background-size: auto 100%;
  background-position-x: center;
  min-height: 720px;
  padding-top: 180px;
  text-align: center;
  margin: 0;
  margin-bottom: -40px; /* ??? can't figure out why blank 40px appears below title-section */
  margin-top: 69px;
}

#title-section p {
  margin-bottom: 40px;
}

#title-section h1 {
  max-width: 300px;
  margin: auto;
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D5C87D;
  font-size: 42pt;
  font-weight:bold;
}

#title-section h2 {
  text-transform: uppercase;
  font-size: 20pt;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  letter-spacing: 2.0px;
  color: #CFCECE;
  margin-bottom: 50px;
}

.menu-banner.large .city {
  font-size: 14pt;
}

.buy-tickets-button {
  color: #FCFAE2;
  background-color: #901e21;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 34px;
  text-decoration: none;
}

.buy-tickets-button:hover {
  color: #FCFAE2;
  background-color: #6a1618;
  text-decoration: none;
}

#top-menu-container {
  display: block;
  position: fixed;
  margin: 0;
  color: #FCFAE2;
  background-color: #3D2000;
  left: 0;
  right: 0;
  top: 0;
  height: 69px;
  /*text-align: center;*/
  z-index: 5;
  padding: 0;
  padding-left: 15px;
}

#top-menu-container a {
  text-decoration: none;
  color: #FCFAE2;
}

#top-menu-container .menu-banner {
  position: fixed;
  margin: 0;
  margin-top: 9px;
  
}

#top-menu-container .menu-banner p {
  margin: 0;
  margin-bottom: 5px;
}

.menu-banner.large .title {
  font-size: 15pt;
  margin-right: 10px;
  letter-spacing: normal;
}

.menu-banner.large .city {
  font-size: 14pt;
}

#top-menu-container .menu-banner .title {
  font-family: Merriweather, Georgia, serif;
  font-weight: 400;
  letter-spacing: 1px
}

#top-menu-container .menu-banner .city {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  letter-spacing: 1.5px;
}

#top-menu {
  display: inline;
  float: right;
  margin-top: 21px;
  padding-left: 0;
  padding-right: 1em;
  z-index: 10;
}

#top-menu li {
    list-style-type: none;
    display: inline;
    font-family: Merriweather, Georgia, serif;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16pt;
    padding: 0 0.66em;
}

#top-menu-buy-tickets-button {
  float: right;
  font-size: 18pt;
  text-align: center;
  height: 53px;
  padding-top: 6px;
  box-sizing: content-box;
}

#top-menu a {
  color: #FCFAE2;
  text-decoration: none;
  border-top: 3px rgba(240, 232, 206, .9);
  transition: none;
  cursor: pointer;
}

#top-menu a.link:hover {
  text-decoration: underline;
}

#top-menu a.link:active {
  color: #AB8326;
}

nav ol, nav ul {
    list-style: none;
}

.main-header .inner {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 550px;
}

.main-nav.overlay {
    border-color: #fdf9f0;
}

#mobile-hamburger {
  display: none;
}

@media only screen and (min-width: 1080px) {
  #title-section {
    background-size: 100% auto;
    background-position-y: center;
  }
}

@media only screen and (max-width: 1000px) {
  #mobile-hamburger {
    display: block;
  }

  #top-menu {
    opacity: 0;
    top: -229px;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: #19181A;
    margin: 0;
    padding: 0 9px;
    text-align: center;
    z-index: 3;
  }

  #top-menu.open {
    opacity: 1.0;
    top: 68px;
  }

  #top-menu li {
    display: block;
    list-style-type: square;
    background-color: #8f5300;
    margin: 4px 0;
    padding: 0;
    font-size: 14pt;
  }

  #top-menu li a {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  #top-menu-buy-tickets-button {
    display: none;
  }

}


#mobile-hamburger {
  position: fixed;
  top:11px;
  right: 11px;
  cursor: pointer;
  width: 51px;
  height: 35px;
}

#mobile-hamburger span {
  position: absolute;
  display: block;
  left: 0%;
  height: 9px;
  width: 100%;
  background-color: #D5C87D;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#mobile-hamburger span:nth-child(1){
  top: 0;
}

#mobile-hamburger span:nth-child(2){
  top: 19px;

}

#mobile-hamburger span:nth-child(3){
  top: 38px;
}

#mobile-hamburger span:nth-child(4){
  top: 19px;
}

#mobile-hamburger span:nth-child(5){
  top: 19px;
}

#mobile-hamburger.open span:nth-child(1){
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}

#mobile-hamburger.open span:nth-child(2){
  opacity: 0;
  left: 50%;
  width: 0;
}

#mobile-hamburger.open span:nth-child(3){
  top: 50%;
  left: 50%;
  width: 0;
  opacity: 0;
}

#mobile-hamburger.open span:nth-child(4){
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#mobile-hamburger.open span:nth-child(5){
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



#how-to-play {
  background-color: #5F567C;
}

#how-to-play .blurb {
  margin-bottom: 40px;
  font-size: 10pt;
  font-weight: normal;
  line-height: 2.0;
  text-align: left;
  height: 299px;
  font-family: sans-serif;
}

.section-header-line {
  text-align: center;
  border-color: #D5C87D;
  margin-top: 0;
  margin-bottom: 40px;
}

#how-to-play .tip {
  font-size: 14pt;
  color: #CBCDCE;
  letter-spacing:1pt;
  font-family:sans-serif;
  line-height: normal;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

#how-to-play .steps {
  margin-bottom: 60px;
  text-align: center;
}

.nav-button {
  text-align: center;
}

.nav-button a {
  text-decoration: none;
  font-size:12pt;
  background-color: white;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #2F2F30;
  border: 1px solid #2F2F30;
  padding: 7px 30px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

#how-to-play .heading {
  font-family: Roboto, sans-serif;
  font-size: 16pt;
  margin-bottom: 10px;
  white-space: nowrap;
  text-align: center;
}

#how-to-play .icon {
  margin-bottom: 0px;
  text-align: center;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#how-to-play .icon img {
  height: 100%;
}

#how-to-play .step {
  width: 300px;
  height: 670px;
  display: inline-block;
  vertical-align: top;
  background-color: #E6E7E9;
  border-radius:3px;
  margin-left:28px;
  margin-right:28px;
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 40px;
  padding-bottom: 15px;
}

#how-to-play .step p {
  text-align: left;
}

@media screen and (max-width:1200px) {
  #how-to-play {
    padding-left: 20px;
    padding-right: 20px;
  } 

  #how-to-play .step {
    margin: auto;
    margin-bottom:24px;
    width:auto;
    display: block;
    max-width: 300px;
  }

  #how-to-play .blurb {
    height:auto;
  }

}



/* ROOMS */

#rooms-intro-bg {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/candelabrum-girl.jpg");
  height: 400px;
}


.parallelogram.top {
  transform: skew(0deg,-3deg);
  z-index: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  transform-origin: left;
  background-color: #6C3B4A;
}

.parallelogram.bottom {
  transform: skew(0deg,3deg);
  z-index: 1;
  width: 100%;
  height: 150px;
  position: relative;
  margin-top: -150px;
  transform-origin: left;
  background-color: #6C3B4A;
}

.parallelogram.rooms {
  background-color: #6C3B4A;
}

.parallelogram.location {
  background-color: #63527C;
}

.clear-both {
  clear: both;
}

.container-room {
  background-color: #E1E0ED;
  padding: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
  margin: auto;
  width: 1271px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.container-room .normal-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container-room .mobile-button {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  display: none;
}



.container-room .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-bottom: -12px;
}

.container-room .room-duration-icon {
  background: url("../img/room-duration-icon.svg");
  background-size: 32px 32px;
}

.container-room .price-per-person-icon {
  background: url("../img/price-per-person-icon.svg");
  background-size: 32px 32px;
  background-size: 38px 38px;
  background-position: -2px -3px;
}

.container-room .exit-percentage-icon {
  background: url("../img/exit-percentage-icon.svg");
  background-size: 60px 50px;
  background-position: -7px -7px;
  margin-right: 5px;
}

.container-room .group-size-icon {
  background: url("../img/group-size-icon.svg");
  background-size: 60px 57px;
  background-position: -16px -12px;
}

.room-container-left {
  float:left;
  width:400px;
}

.room-container-right {
  float: right;
  width:760px;
}

.carousel.mobile {
  display: none;
  margin-bottom: 50px;
}

.container-room .stats {
  font-family: Roboto;
  font-weight: 300;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  font-size:14pt;
  color:#303030;
  margin-top: 0;
  margin-bottom: 20px;
}

.container-room .stats li {
  line-height: 40px;
}

.container-room .buy-tickets {
  background-color: #4D5895;
  color: #FFFCE4;
  padding: 6px 17px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  font-size: 24pt;
}

.container-room .buy-tickets:hover {
  background-color: #363966;
}

/* the main media query for rooms section */
@media screen and (max-width: 1300px) {
  .carousel.mobile {
    display: block;
  }

  .carousel.desktop {
    display: none;
  }

  .room-container-left {
    float: none;
    width: 100%;
  }

  .room-container-right {
    float: none;
    width: 100%;
  }

  .container-room {
    width: 100%;
    padding: 25px;
  }

  .container-room .normal-button {
    display: none;
  }

  .container-room .mobile-button {
    display: block;
  }

  .container-room .stats li {
  }

}

.buy-tickets-button.big {
  font-size:18pt;
  border:1px solid gray;
  border-radius:5px;
  white-space:nowrap;
}






/* LOCATION */


#location {
  background-color: #63527C;
}

#location .mobile {
  display: none;
  margin-bottom: 40px;
}

#location .section-header-line.location-line {
  width: 200px;
  margin-bottom: 20px;
}

#location .squeeze {
  width: 1200px;
  margin: auto;
}

#location .map {
  float: left;
  margin-right: 20px;
  width: 560px;
}

#location .copy {
  float: left;
  margin-left: 20px;
  width: 560px;
}

#location p {
  color: #D5C87D;
}

@media only screen and (max-width: 1200px){
  #location .squeeze {
    width: 100%;
  }

  #location .map {
    float: none;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }

  #location .copy {
    float: none;
    width: 100%;
    margin: 0;
  }

  #location .normal {
    display: none;
  }

  #location .mobile {
    display: block;
  }
}


#office-bg {
  background-image: url(../img/EMR_perfume-shop-above-updates.jpg);
  padding: 0;
  color: #404040;
  position: relative;
  overflow: hidden;
  height: 400px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

#footer {
  background-color: #3D2000;
  color: #FFFCE4;
  font-size: 15pt;
  font-family: Roboto, sans-serif;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0;
  line-height: 30px;
}

#footer p {
  margin: 0;
}

#footer .email-link {
  color: #FFFCE4;
  text-decoration: none;
}


.old-style-popup .modal-content {
  background-color: #cac8b6;
  color: #353535;
}

.old-style-popup .modal-header {
  border-bottom-color: #a4a989;
  min-height: 46px;
}

.old-style-popup .modal-body {
  overflow-y: scroll;
  padding: 20px 32px;
}

.old-style-popup h4 {
  font-size: 28pt;
  text-align: center;
  margin-bottom: 15px;
}

.old-style-popup blockquote {
  border-color: #503535;
}

.old-style-popup ul {
/*  list-style: none;*/
  padding: 0;
}

.old-style-popup h5 {
  font-size: 16pt;
  font-weight: bold;
}

.old-style-popup .modal-footer {
  border-top-color: #a4a989;
}

.old-style-popup .modal-footer button {
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  color: #353535;
  background-color: #988a71;
}


#how-to-play-nav {
  position: absolute;
  top: -69px;
}

#rooms-nav {
  position: absolute;
  top: -69px;
}

#groups-nav {
  position: absolute;
  top: -69px;
}

#location-nav {
  position: absolute;
  top: -68px;
}


.privacy-policy-link {
  margin-top: 20px;
}

.privacy-policy-link {
  text-decoration: underline;
  color: #bcba56;
}

.privacy-policy-link:hover {
  text-decoration: underline;
  color: #8c8a26;
}

/* can't edit iubenda link in any way */
a.iubenda-nostyle {
  color: #bcba56;
}

a.iubenda-nostyle:hover {
  color: #8c8a26;
}


/* This is for FlexSlider Font CSS */
@font-face {
  font-family: 'flexslider-icon';
  src:url('../fonts/webfonts/flexslider-icon.eot');
  src:url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfonts/flexslider-icon.woff') format('woff'),
    url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'),
    url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
    
#waiting-room {
  background-image: url(../img/EMR_waiting-room-above-location.jpg);
  padding: 0;
  color: #404040;
  position: relative;
  overflow: hidden;
  height: 400px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}


.subheading {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: #4D4D4D;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 22pt;
  margin-top: 0;
  margin-bottom: 12px;
}

.body-text {
  font-family: Roboto, sans-serif;
  line-height: 2.0;
  font-size: 12pt;
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: .5px;
}

.section-heading {
  font-family: Merriweather, Georgia, serif;
  letter-spacing: 1px;
  color: #D5C87D;
  font-size: 42pt;
  white-space: nowrap;
  line-height: normal;
  margin-bottom: 0;
  text-align: center;
}

.section-header-line.rooms-line {
  width: 130px;
}

.section-header-line.location-line {
}

.section-header-line.how-to-play-line {
  width: 320px;
}

#rooms {
  background-color: #6C3B4A;
}

.big-section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  position: relative;
}

#how-to-choose .subheading {
  text-align: center;
}

#how-to-choose .squeeze {
  max-width: 480px;
  margin: auto;
}

#how-to-choose table {
  margin-bottom: 20px;
}

#how-to-choose .cell {
  text-align: center;
  color: #404040;
  font-family: Roboto, sans-serif;
  font-size: 18pt;
  vertical-align: top;
  padding: 0;
  padding-bottom: 20px;
}

#how-to-choose .left.cell {
  padding-right: 5px;
}

#how-to-choose .right.cell {
  padding-left: 5px;
}

#how-to-choose .left.cell {
  border-right: 1px solid gray;
}


@media only screen and (max-width: 480px){
  .section-heading {
    font-size: 32pt;
  }

  .section-header-line.how-to-play-line {
    width: 240px;
  }

  .subheading {
    font-size: 18pt;
  }

  #how-to-choose .cell {
    font-size: 12pt;
    padding-bottom: 10px;
  }
}



#groups {
  background-color: #63527C;
  color: #D5C87D;
}

#groups .groups-line {
  width: 192px;
  margin-bottom: 30px;
}

#groups .blurb {
  max-width: 540px;
  margin: auto;
  margin-bottom: 40px;
}

#groups .squeeze {
  max-width: 960px;
  margin: auto;
  margin-bottom: 40px;
}

#groups .responsive-column {
  width: 460px;
  height: 560px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
  background-color: #E1E0ED;
  color: #404040;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

#groups .subheading {
  text-align: center;
}

#groups form {
  max-width: 960px;
  margin: auto;
/*  background-color: #202020;*/
/*  color: #808080; */
  padding: 20px;
  margin-bottom: 40px;
  font-size: 12pt;
}

#groups form.used {
  display: none;
}

#groups form .field {
  float: left;
  width: 460px;
  margin-bottom: 5px;
}

#groups form .field.wide {
  float: none;
  width: 920px;
  font-size: 12pt;
}

#groups form label {
  font-weight: normal;
  font-size: 12pt;
}

#groups form .input-box {
  color: black;
  font-family: sans-serif;
  font-size: 12pt;
}

#groups form .field.wide label {
  width: 150px;
}

#groups form .field.left label {
  width: 150px;
}

#groups form .field.right label {
  width: 160px;
}

#groups form .field.wide .input-box {
  width: 764px;
}

#groups form .field.left .input-box {
  width: 280px;
}

#groups form .field.right .input-box {
  width: 294px;
}

#groups form .big-field label {
  display: block;
}

#groups form .big-field textarea {
  width: 100%;
  height: 100px;
  color: black;
  font-size: 12pt;
}

#groups form .submit {
  text-align: center;
}

#groups form input[type="submit"] {
  color: black;
  box-shadow: black 2px 2px 1px 0px;
  border-radius: 5px;
  background-color: lightgray;
}

#groups form input[type="submit"].disabled {
  color: gray;
}

#groups form .field.problem .input-box,
#groups form .field.problem textarea {
  background-color: #ffa8a8;
  border-color: #ca6138;
}

#groups form .field.problem label,
#groups form .note.problem {
  color: #e98681;
}

@media only screen and (max-width: 1000px){
  #groups .responsive-column {
    width: auto;
    max-width: 460px;
    float: none;
    margin: auto;
    margin-bottom: 30px;
    height: auto;
  }

  #groups form {
    width: auto;
    max-width: 540px;
    padding: 0;
  }

  #groups form .field {
    width: auto;
    margin-bottom: 10px;
  }

  #groups form .field.wide {
    width: auto;
  }

  #groups form label {
    display: block;
    width: auto;
  }

  #groups form .field.left .input-box {
    width: 100%;
  }

  #groups form .field.right .input-box {
    width: 100%;
  }

  #groups form .field.wide .input-box {
    width: 100%;
  }

  #groups form .field {
    float: none;
    display: block;
  }
  
  #groups form .big-field textarea {
    width: 100%;
  }

  #groups form .submit {
    text-align: left;
  }

}


#weird-wall {
  background-image: url(../img/wall-of-weird.jpg);
  padding: 0;
  color: #404040;
  position: relative;
  overflow: hidden;
  height: 400px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}
